<footer class="footer">
          <div class="footer-container">
                    <div>
                              <h4 class="footer-heading">Về VỆ BINH SỐ</h4>
                              <p class="footer-text">
                                        Dự án cộng đồng nhằm bảo vệ người dân Việt Nam trước các rủi ro lừa đảo trực
                                        tuyến ngày càng tinh vi.
                              </p>
                    </div>

                    <div>
                              <h4 class="footer-heading">Liên hệ hỗ trợ</h4>
                              <p class="footer-text">Hotline: 0359107806 (24/7)</p>
                              <p class="footer-text">Email: <a
                                                  href="mailto:vebinhso@gmail.com">vebinhso@gmail.com</a></p>
                    </div>

                    <div>
                              <h4 class="footer-heading">Theo dõi chúng tôi</h4>
                              <div class="social-links">
                                        <a href="https://www.facebook.com/vebinhso.ssg104" target="_blank"><i class="fab fa-facebook icon"></i></a>
                                        <a href="https://www.youtube.com/@VệBinhSố" target="_blank"><i class="fab fa-youtube icon"></i></a>
                              </div>
                    </div>
          </div>
</footer>