<!-- NAVBAR -->
<nav class="navbar">
  <div class="navbar-container">

    <div class="navbar-inner">

      <div class="navbar-brand">
        <img src="/assets/images/logo/logo_header.png" alt="">
        <!-- <span class="brand-text">VỆ BINH SỐ</span> -->
      </div>

      <div class="navbar-menu">
        <a href="/index.html" class="nav-link">Trang chủ</a>
        <a href="/pages/tin-tuc.html" class="nav-link">Tin tức</a>
        <a href="/pages/lua-dao.html" class="nav-link">Lừa đảo</a>
        <a href="/pages/ky-nang.html" class="nav-link">Kỹ năng</a>
        <a href="/pages/gioi-thieu.html" class="nav-link">Giới thiệu</a>
      </div>

      <div class="navbar-action">
        <a href="/pages/report.html" target="_blank" rel="noopener noreferrer">
          <button class="report-btn">
          <i class="fas fa-bullhorn"></i>
          <span id="report-header">BÁO CÁO LỪA ĐẢO</span>
        </button>
        </a>
      </div>

      <!-- MOBILE MENU -->
      <div class="navbar-mobile" id="navbarMobile">
        <a href="/index.html" class="nav-link">Trang chủ</a>
        <a href="/pages/tin-tuc.html" class="nav-link">Tin tức</a>
        <a href="/pages/lua-dao.html" class="nav-link">Lừa đảo</a>
        <a href="/pages/ky-nang.html" class="nav-link">Kỹ năng</a>
        <a href="/pages/gioi-thieu.html" class="nav-link">Giới thiệu</a>
      </div>
      <button class="navbar-toggle" id="navbarToggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>

  </div>
</nav>